# Visual Studio
.vs/

# Ignore bin & obj for ALL projects
**/bin/
**/obj/

# User-specific
*.user
*.suo

# Logs
*.log

# Environment
.env

# Appsettings
appsettings.Development.json
appsettings.Production.json
